extends ../../../views/layouts/default

block content
	.container
		.row
			.col-md-12
				.page-header
					h1 Login
				.col-md-offset-4
					.col-md-5
						form
							.form-group
								label Email / NIM
								input.form-control(type="text" placeholder="Email / NIM")
							
								label Password
								input.form-control(type="password" placeholder="Password")
								.col-md-offset-4
									.col-md-12
										a.btn.btn-primary.btn-sm(type="submit") Logn in
							.form-grup
								.checkbox
									input(type="checkbox") 
									




					
		
							

							





