nav.navbar.navbar-default(role="navigation")
	.container-fluid
		.navbar-header
			button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#ingat-nav-main")
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.navbar-brand(href="/") Paranadina Event Management System
		#ingat-nam-main.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href="/") Home